@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #333333;
  font-family: 'ヒラギノ明朝 ProN';
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #082b48;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a:hover {
  opacity: .7;
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: auto;
}

@media (max-width: 767px) {
  .inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

header {
  background-color: #fff;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 120px;
  height: 22px;
}

.logo h1 img {
  display: block;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  line-height: 70px;
}

.nav-item:not(:first-child) {
  margin-left: 45px;
}

.nav-item a {
  display: inline-block;
}

.main-visual {
  margin-top: 70px;
}

.main-visual__inner {
  position: relative;
  height: 660px;
}

.main-visual__message {
  width: 330px;
  height: 330px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  background-color: #ffffff;
}

.main-visual__message .message-head {
  font-weight: 600;
  font-size: 26px;
  line-height: 1.69231;
  margin-top: 92px;
}

.main-visual__message .message-text {
  margin-top: 28px;
  line-height: 1.6875;
}

.main-visual__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 990px;
  max-width: 100%;
}

.main-visual__img img {
  display: block;
}

.section {
  margin-top: 160px;
}

.section__title {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  position: relative;
  padding-bottom: 15px;
}

@media (max-width: 767px) {
  .section__title {
    font-size: 30px;
  }
}

.section__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  width: 60px;
  background-color: #3EA1D1;
}

.concept__body {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.concept__left img {
  display: block;
}

.concept__right {
  margin-left: 80px;
}

.concept__right .concept__right-head {
  font-size: 20px;
  font-weight: 600;
}

.concept__right .concept__right-text {
  margin-top: 48px;
  line-height: 1.6875;
}
