$m-color: #3EA1D1;

$layout-width-inner: 1200px;

$breakpoints: (
//キー値
  "sp": "(max-width: 767px)", //767px以下（スマホ）用の表示
  "pc": "(min-width: #{$layout-width-inner})" //768px以上（タブレット・PC）用の表示
) !default;
//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: sp) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #333333;
  font-family: 'ヒラギノ明朝 ProN';
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
}
img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #082b48;
  transition: all 0.3s;
}
a:hover {
  opacity: .7;
}
.inner {
  width: $layout-width-inner;
  max-width: 100%;
  margin: auto;
  @include mq(sp){
    padding-left: 16px;
    padding-right: 16px;
  }
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

// ヘッダー
header {
  height: 70px;
}
.header {
  display: flex;
  align-items: center;
}

.logo {
  width: 120px;
  height: 22px;
  h1 {
    img {
      display: block;
    }
  }
}
.nav {
  display: flex;
  margin-left: auto;
  line-height: 70px;
}
.nav-item {
  &:not(:first-child) {
    margin-left: 45px;
  }
  a {
    display: inline-block;
  }
}

//メインビジュアル
.main-visual {
  
}
.main-visual__inner {
  position: relative;
  height: 660px;
}
.main-visual__message {
  width: 330px;
  height: 330px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 2;
  background-color: #ffffff;
  .message-head {
    font-weight: 600;
    font-size: 26px;
    line-height: ( 44 / 26 );
    margin-top: 92px;
  }
  .message-text {
    margin-top: 28px;
    line-height: (27 / 16);
  }
}
.main-visual__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 990px;
  max-width: 100%;
  img {
    display: block;
  }
}
