$m-color: #3EA1D1;

$layout-width-inner: 1200px;

$breakpoints: (
//キー値
  "sp": "(max-width: 767px)", //767px以下（スマホ）用の表示
  "pc": "(min-width: #{$layout-width-inner})" //768px以上（タブレット・PC）用の表示
) !default;
//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: sp) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #333333;
  font-family: 'ヒラギノ明朝','Noto Serif JP', serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
}
img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #082b48;
  transition: all 0.3s;
}
a:hover {
  opacity: .7;
}
.inner {
  width: $layout-width-inner;
  max-width: 100%;
  margin: auto;
  @include mq(sp){
    padding-left: 16px;
    padding-right: 16px;
  }
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

// ヘッダー
header {
  background-color: #fff;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
}
.header {
  display: flex;
  align-items: center;
}

.logo {
  width: 120px;
  height: 22px;
  h1 {
    img {
      display: block;
    }
  }
}
.nav {
  display: flex;
  margin-left: auto;
  line-height: 70px;
}
.nav-item {
  &:not(:first-child) {
    margin-left: 45px;
  }
  a {
    display: inline-block;
  }
}

//メインビジュアル
.main-visual {
  margin-top: 70px;
}
.main-visual__inner {
  position: relative;
  height: 660px;
}
.main-visual__message {
  width: 330px;
  height: 330px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 2;
  background-color: #ffffff;
  .message-head {
    font-weight: 600;
    font-size: 26px;
    line-height: ( 44 / 26 );
    margin-top: 92px;
  }
  .message-text {
    margin-top: 28px;
    line-height: (27 / 16);
  }
}
.main-visual__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 990px;
  max-width: 100%;
  img {
    display: block;
  }
}

.section {
  margin-top: 160px;
}
.section__title {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  position: relative;
  padding-bottom: 15px;
  @include mq(sp){
    font-size: 30px;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 60px;
    background-color: $m-color;
  }
}

.concept__body {
  margin-top: 64px;
  display: flex;
  align-items: center;
}
.concept__left {
  img {
    display: block;
  }
}

.concept__right {
  margin-left: 80px;
  .concept__right-head {
    font-size: 20px;
    font-weight: 600;
  }
  .concept__right-text {
    margin-top: 48px;
    line-height: (27 / 16);
  }
}

.feature__body {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
}
.feature__item:not(:nth-child(3n + 1)){
  margin-left: 90px;
}

.feature__item {
  width:calc((100% - (90px * 2) )/ 3);
  box-shadow: 3px 3px 15px #60606029;
  .feature__item__img {
    height: 240px;
    width: 100%;
    img {
      display: block;
    }
  }
  .feature__item__text {
    padding: 32px 0;
    font-weight: 600;
    line-height: (27 / 16);
    text-align: center;
  }
}

.sub-visual {
  margin-bottom: 160px;
  height: 480px;
  background: url('../img/bg.png') no-repeat center center / cover;
  position: relative;
}
.sub-visual__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  .sub-visual__head {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 40px;
    line-height: (37 / 22);
  }
  .sub-visual__text {
    font-weight: 600;
    line-height: (27 / 16);
  }
}

.products__inner {
  width: 940px;
  max-width: 100%;
  margin: auto;
  @include mq(sp){
    padding-left: 16px;
    padding-right: 16px;
  }
}
.products__items {
  margin-top: 64px;
  display: flex;
}
.products__item {
  width:calc((100% - (85px * 2) )/ 3);
  font-size: 14px;
  &:not(:nth-child(3n + 1)){
    margin-left: 85px;
  }
  a {
    .products__img {
      margin-bottom: 24px;
      img {
        display: block;
      }
    }
  }
  .products__text {
    margin-bottom: 18px;
    line-height: (24 / 14);
    font-size: 14px;
  }
  span {
    color: #989898;
  }
}
.btn-more {
  text-align: center;
  margin-top: 48px;
  a {
    display: inline-block;
    font-size: 14px;
    padding: 14px 52px;
    color: #3EA1D1;
    border: 1px solid #3EA1D1;
  }
}

.news__inner {
  width: 1040px;
  max-width: 100%;
  margin: auto;
  @include mq(sp){
    padding-left: 16px;
    padding-right: 16px;
  }
}

.news__items {
  margin-top: 64px;
}
.news__item {
  display: flex;
  padding-bottom: 24px;
  border-bottom: 1px solid #E0E0E0;
  &:not(:first-child) {
    padding-top: 24px;
  }
  .news__img {
    img {
      width: 260px;
      height: 160px;

    }
  }
  .news__content {
    margin-left: 40px;
    padding-top: 24px;
    .news__date {
      margin-bottom: 16px;
      font-size: 14px;
    }
    .news__head {
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 24px;
      line-height: (24 / 18);
    }
    .news__text {
      font-size: 14px;
      line-height: (24 / 14);
      color: #888888;
    }
  }
}

.voice__items {
  display: flex;
  .voice__content {
    width: 50%;
    padding: 102px 80px 102px 0;
    .voice__head {
      font-size: 28px;
      font-weight: 600;
      line-height: (48 / 28);
      margin-bottom: 48px;
    }
    .voice__text {
      line-height: (27 / 16);
    }
  }
  .voice__img {
    width: 50%;
    img {
      display: block;
    }
  }
}

.contact {
  background: url('../img/contact.png') no-repeat center center / cover;
  padding-top: 75px;
  padding-bottom: 85px;

}
.contact__inner {
  width: 510px;
  max-width: 100%;
  margin: auto;
  @include mq(sp){
    padding-left: 16px;
    padding-right: 16px;
  }
}
.contact__title {
  color: #3EA1D1;
}
.contact__form {
  margin-top: 64px;
}
.form__item {
  display: flex;
  &:not(:first-child) {
    margin-top: 32px;
  }
  dt {
    text-align: center;
    width: 160px;
    background-color: #3EA1D1B3;
    color: #FFFFFF;
    line-height: 40px;
    height: 42px;
    margin-right: 20px;
    position: relative;
      &:after{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        margin: auto;
        top:0;
        right:-15px;
        border-style: solid;
        border-color: transparent transparent transparent #3EA1D1B3;
        border-width: 21px 0 21px 15px;
      }
    }
  dd {
    margin-left: 10px;
    width: 320px;
    [type="text"] {
      box-shadow: 5px 6px 15px #60606029;
      border: none;
      background-color: #FFFFFF;
      padding: 12px 16px;
      appearance: none;
      border-radius: 0;
      color: inherit;
      font-family: inherit;
      font-size: 14px;
      width: 100%;
    }
    [type="email"] {
      box-shadow: 5px 6px 15px #60606029;
      border: none;
      background-color: #FFFFFF;
      padding: 10px 16px;
      appearance: none;
      border-radius: 0;
      color: inherit;
      font-family: inherit;
      font-size: 14px;
      width: 100%;
    }
    textarea {
      box-shadow: 5px 6px 15px #60606029;
      border: none;
      background-color: #FFFFFF;
      padding: 10px 16px;
      appearance: none;
      border-radius: 0;
      color: inherit;
      font-family: inherit;
      font-size: 14px;
      width: 100%;

    }

  }
}
.contact__check {
  display: none;
}
.hoge {
  padding: 13px 23px;
  color: #3EA1D1;
  background-color: #FFFFFF;
  &:not(:first-child) {
    margin-left: -5px;
  }
}
[type="radio"]:checked + .hoge {
  color: #ffffff;
  background-color: #3EA1D1;

  }

.privacy {
  margin-top: 35px;
  text-align: center;
  a {
    color: #3EA1D1;
    border-bottom: 1px solid #3EA1D1;
  }
}
.contact__button {
  text-align: center;
  margin-top: 55px;
  button {
    border: 1px solid #3EA1D1;
    width: 137px;
    padding: 16px 45px;
    background-color: #FFFFFF;
    color: #3EA1D1;
  }
}

